#root {
  display: grid;
}

#header {
  display: flex;
}

#mainTitle {
  font-size: 2em;
  text-align: left;
  margin: 10px;
  margin-left: 20px;
}

button {
  background: #111;
  color: rebeccapurple;
  border: 1px solid rebeccapurple;
  border-radius: 7px;
  height: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: .4s;
  margin: 10px;
  text-transform: lowercase;
}

button:hover {
  background: rebeccapurple;
  color: #b8e;
}

#langButton {
  margin-top: 10px;
  margin-left: 10px;
  scale: 120%;
}
